@use "./base" as *;

body {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: var(--bg);
  color: var(--text);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    height: 290px;
    background-color: var(--top-bg-pattern);
  }
}

main {
  padding: 30px 20px;
  max-width: 1350px;
  margin-inline: auto;
  margin-block: auto;

  h1, h2, h3, .users-count, .stats-counter {
    color: var(--text-2);
  }

  .item {
    background-color: var(--card-bg);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .positive, .negative {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
  }
  
  .positive {
    color: $lime-green;
  }
  
  .negative {
    color: $bright-red;
  }
}

.dashboard {
  margin-bottom: 50px;

  .dashboard-heading {
    margin-bottom: 40px;
    font-weight: 700;

    @include for-tablets-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dashboard-title {
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--text);
      
      @include for-tablets-up {
        margin-bottom: 0;
        border-bottom: none;
      }

      h1 {
        padding-bottom: 5px;
        font-size: 2rem;
      }
    }

    .theme-toggle-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }

  .dashboard-content {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .facebook, .twitter, .instagram, .youtube {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 5px;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 10px 10px 0px 0px;
      }
    }

    .facebook::before {
      background-color: $facebook;
    }

    .twitter::before {
      background-color: $twitter;
    }

    .instagram::before {
      background: $instagram;
    }

    .youtube::before {
      background-color: $youtube;
    }

    .dashboard-item {
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      flex-direction: column;
      align-items: center;
      min-width: 300px;
      padding-top: 50px;
      padding-bottom: 30px;

      .username {
        display: flex;
        gap: 10px;
        font-weight: 700;

        img {
          transform: scale(1.3);
        }
      }

      .users-count {
        font-size: 3.5rem;
        font-weight: 700;
        margin-top: 30px;
      }

      .users-name {
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 30px;
      }
    }
  }
}

.overview {

  h2 {
    padding-bottom: 30px;
  }

  .overview-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include for-tablets-up {
      gap: 30px
    }

    .overview-item {
      min-width: 300px;
      padding: 25px;

      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;

      .stats-name {
        display: flex;
        font-weight: 700;
        // align-items: flex-start;
        justify-content: space-between;
        // flex-grow: 1;

        img {
          transform: scale(1.3);
        }
      }

      .stats-counter {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: space-between;
        
        p:first-child {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
}